<div class="container">
  <div class="row">
    <h1>Editing Bouteille</h1>

    <%= render 'form', bouteille: @bouteille %>

    <%= link_to 'Show', @bouteille %> |
    <%= link_to 'Back', bouteilles_path %>
  </div>
</div>
