<div class="container">
  <div class="row">
    <h1>Nouvelle Bouteille</h1>

    <%= render 'form', bouteille: @bouteille %>

    <%= link_to 'Retour aux bouteilles', bouteilles_path %>
  </div>
</div>
