<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Ajouter un ingredient</h1>

      <%= render 'form', ingredient: @ingredient %>

      <%= link_to 'Retour', recettes_path %>

    </div>
  </div>
</div>
